header { /*glass effect*/
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border-radius: 10px;

  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

header nav{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.stickyNav{ /*show only in desktop*/
  display: none;
}
.menu ul {
  display: none;
  justify-content: space-around;
  padding: 5px 5px;
}
.menu>ul>li:hover {
    cursor: pointer;
}
/*mobile*/

