:root{
    --pinky: #e856e8;
    --pinkyPlus: #cf28cf;
    --bluey: #04306E;
    --blueyPlus: #081A49;
    --yellow-moon: #fef790;
    --mainTitle: "groovy";
    --secondTitle: "PoppinsBold";
    --menu: "PoppinsBold";
}
@font-face {
    font-family: "PoppinsBold";
    src: url("../assets/fonts/Poppins-1/Poppins-Black.ttf");
}
@font-face {
    font-family: "poppinsRegular";
    src: url("../assets/fonts/Poppins-1/Poppins-Regular.ttf");
}
@font-face {
    font-family: "groovy";
    src: url("../assets/fonts/Super\ Dream.ttf");
}
@font-face {
    font-family: "modestic";
    src: url("../assets/fonts/Modestic\ Sans\ Font/");
}
@font-face {
    font-family: 'Rubik' ;
    src: url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');;
}
.canvasu{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg, var(--blueyPlus) 10%,var(--bluey)  50%, var(--pinky) 78%, var(--pinkyPlus) 90%);
}
canvas{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
}

