/*for mobile an tablet mini*/
.hamburguerMenu, .closeMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 2rem;
  height: 3rem;
  border: 0;
  background: transparent;
  gap: 0.5rem;
  transition: all .5s;
}
.hamburguerMenu{
  /* position: absolute;
  right: 0;
  top: 0;
  margin-right: px;  */
}

.hamburguerMenu > div {
  background-color: var(--yellow-moon);
  height: 3.5px;
  width: 100%;
  border-radius: 5px;
  transform-origin: left;
  transition: all 0.5s;
  box-shadow: 2px 2px 8px var(--yellow-moon);
}
.hamburguerMenu:active div:first-child {
  transform: rotate(40deg);
}
.hamburguerMenu:active div:nth-child(2) {
  opacity: 0;
}
.hamburguerMenu:active div:last-child {
  transform: rotate(-41deg);
}

