header { /*glass effect*/
 /* background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border-radius: 10px;*/
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: .5rem;
}
header nav{
  display: flex;
  justify-content: space-between;
}
.menu ul {
  display: none;
  justify-content: space-around;
  padding: 5px 5px;
}
.menu>ul>li:hover {
    cursor: pointer;
}
/*mobile*/

