/*
<div class="logoMel">
    <section class="code">Code</section>
    <section class="Mel">Mel</section>
</div>
*/
.logoMel{
    display: flex;
    align-items: center;
    font-weight: 700;
    border: solid 2px var(--yellow-moon);
    padding: 0;
    width: fit-content;
}
.code{
    display: flex;
    background-color: var(--yellow-moon);
    color: white;
    padding: .5rem;
    gap: .3rem;
    margin: 0;
}
.Mel{
    margin: 0;
    padding: .5rem;
    color: var(--yellow-moon);
}