.parallax1{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url(../../assets/backdrops/parallax1.png);
    background-position: bottom;
    background-repeat: no-repeat ;
    background-size: contain;
    
    bottom: 0;
    left: 0;

    animation: parallax 2s infinite alternate;
}
.parallax2 {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url(../../assets/backdrops/parallax2.png);
    background-position: bottom;
    background-repeat: no-repeat ;
    background-size: contain;
    
    bottom: 10px;
    left: 0;

    animation: parallax 2s infinite alternate;
}

@keyframes parallax {
    from {
        transform: translate(0);
    }
    to {
        transform: translateY(5px);
    }
    
}