.socialMedia{
    display: flex;
    gap: 1rem;
}
.socialMedia > span{
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 20%;
    display: flex;
    align-items: center;
    justify-content: center;

    -webkit-mask-image: linear-gradient(-55deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
    -webkit-mask-size: 200%;

    transition: 1s all;
    animation: shine 2s infinite ease;
}

/*LinkedIn*/
.linkedIn{
    background-color: #0288D1;
    z-index: 0;
    transition: all .3s;
    animation: appearLeft 2s ease-in-out;
}
.linkedIn a{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 900;
    font-size: 1.3rem;
}
.linkedIn:hover{
    background-color: azure;
}
.linkedIn:hover a{
    color: #0288D1;
}
/*CodePen*/
.codePen{
    transition: all .3s;
    animation: appearUp 2s ease-in-out;
}
.codePen a{
    display: block;
    width: fit-content;
    height: fit-content;
}
.frontSquare{
    border: solid 2px black;
    transform: translate(-50%, -50%);
    transform: rotate(45deg);
    width: 1rem;
    height: 1rem;
}
/*github*/
.github{
    transition: all .3s;
    background: url(../../assets/loguitos/github-mark-white.svg);
    background-size: contain;
    animation: appearRigth 2s ease-in-out;
    filter: drop-shadow(50px #000);
}
.github > a {
    width: 1rem;
    height: 1rem;
    background-color: transparent;
    cursor: pointer;
}

@keyframes appearLeft {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0px); 
    }
}
@keyframes appearRigth {
    from {
        opacity: 0;
        transform: translateX(100px);
    }
    to {
        opacity: 1;
        transform: translateX(0px); 
    }
}
@keyframes appearUp {
    from{
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes shine {
    from{
        -webkit-mask-position: 150%;
    }
    to {
        -webkit-mask-position: -50%;
    }
}