.personalData hgroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.75rem;
  max-width: 370px;
  margin: 12rem 0 0.5rem; /*mobile margin*/
}
.name {
  font-family: var(--secondTitle);
  text-transform: capitalize;
  font: 1rem;

  text-shadow: 0 5px 0 rgba(0, 0, 0, 1), 0 10px 40px rgba(0, 0, 0, 0.2),
    0 20px 30px rgba(0, 0, 0, 0.2), 0 30px 20px rgba(0, 0, 0, 0.2);
  color: var(--yellow-moon);

  white-space: nowrap;
  overflow: hidden;
  animation: typing 4s steps(22, end) forwards, writerCursor infinite;
}
.jobtitle {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 3rem;
  font-family: var(--mainTitle);
  text-transform: uppercase;
  text-shadow: 0 5px 0 rgba(0, 0, 0, 1), 0 10px 40px rgba(0, 0, 0, 0.2),
    0 20px 30px rgba(0, 0, 0, 0.2), 0 30px 20px rgba(0, 0, 0, 0.2);
  color: rgba(255, 13, 211, 1);
  position: relative;
  /* z-index: 1; */
  transition: 2s all;
  animation: aparecer 4s forwards, flotandus 2s infinite;
}
.jobtitle::before {
  position: absolute;
  left: -1px;
  top: -1.7%;
  content: attr(data-jobtitle);
  text-shadow: 0 5px 0 rgba(0, 0, 0, 0.5);
  color: rgba(30, 189, 96, 1);
  transition: all 0.5s;
  /* z-index: 2; */
  transition: 2s all;
  animation: aparecer 4s forwards, flotandus 2s infinite;
}
.jobtitle::after {
  position: absolute;
  left: -1px;
  top: -1.5%;
  content: attr(data-jobtitle);
  text-shadow: 0 5px 0 rgba(0, 0, 0, 0.5);
  color: rgb(250, 233, 227);
  transition: all 0.5s;
  /* z-index: 3; */
  transition: 2s all;
  animation: aparecer 4s forwards, flotandus 2s infinite;
}
.jobtitle:hover:before {
  left: 4.5px;
  top: -5.4%;
}
.jobtitle:hover::after {
  left: 8.5px;
  top: -12%;
}

@keyframes aparecer {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes typing {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes writerCursor {
  0%,
  100% {
    border-right: 2px solid transparent;
  }
  50% {
    border-right: 2px solid var(--yellow-moon);
  }
}
@keyframes flotandus {
  from {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(5px);
  }
  to {
    transform: translateY(0px);
  }
}
