.dropdownMenu {
  z-index: 2;
  position: absolute;
  width: 100vw;
  height: 100vh;

  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6.5px);
  border-radius: 10px;

  padding: 5rem 0;

  transition: 2s all;
  animation: showsUp 2ms ease-in-out;
}
.dropdownMenu > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  transition: 2s all;
  animation: appear 2s ease-in-out;
}
.dropdownMenu > ul > li {
  color: black;
  font-family: var(--menu);
  text-transform: uppercase;
}

@keyframes showsUp {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes dedesaparecer {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
