*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --bar-width: 2rem;
  --bar-height: .3125rem;
  --hamburguer-gap: .375rem;
  --background: white;
  --animation-timing: 200ms ease-in-out;
}


.hamburguerMenu,
.closeMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--hamburguer-gap);
  width: max-content;
  z-index: 2;
  cursor: pointer;
}

.hamburguerMenu::after,
.hamburguerMenu::before,
.hamburguerMenu input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: black;
  border-radius: 9999px;
  transition: opacity var(--animation-timing), width var(--animation-timing);
}

.hamburguerMenu input,
.closeMenu input{ 
  appearance: none;
  margin: 0;
  padding: 0;
  outline: none;
  pointer-events: none;
}

.hamburguerMenu input:checked {
  opacity: 0;
  width: 0;
}
